<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pawn Talk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboardjs/css/chessboard-0.3.0.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    {% block content %} {% endblock %}


    <!-- <script src="{{ url_for('static', filename='main.js') }}"></script>-->
</body>

</html>