{% extends 'base.html' %}


{% block content %}
<div id="header"></div>
<div id=username_overlay>
    <div id="username_input_div">
        <div id="username_input_div_inner">
          <form action="{{url_for('chat.index')}}" method="POST">
    {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}
    <span>
      {% if field.errors %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  {% endfor %}

 <div id = "add-url-button-div" >
   {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
    {% endfor %}
   <button class="button" type="submit">Create Room</button>
 </div>
</form>


        </div>
    </div>
</div>


{% endblock %}