* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header {
    height: 150px;
    width: 100%;
    background: black;
    position: absolute;
    z-index:100
    top: 0;
}

#header_username_container{
position: absolute;
top: 50px;
right: 50px;
display: flex;
z-index:200;
}

#header_username{
color: white;
font-size: 20px;
margin-left: 20px;
}

.fa {
color: #6a5acd;
}

label {
    display: block;
    color: white;
    font-size: 24px;
}

button:focus {
outline: none;
}

#copy {
    position: absolute;
    top: 150px;
    right: 50px;
}

#username_overlay {
    position: absolute;
    background: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#username_input_div {
    width: 500px;
    margin: 200px auto 0 auto;
    border: 1px solid white;
}

#username_input_div_inner {
    width: 100%;
    text-align: center;
    padding: 50px;
}

#username_input, #url{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 26px;
    outline: none;
    margin-top: 50px;
}

#username_label {
    color: white;
    font-size: 24px;
}
#add-url-button-div{
color: white;
}

.button {
    width: 200px;
    height: 50px;
    margin: 50px auto 0 auto;
    background: #6a5acd;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#link {
    color: white;
    opacity: 0;
}

::selection {
    background: transparent;
    /* WebKit/Blink Browsers */
}

video {
    max-width: 100%;
    width: 500px;
}

#outer_container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    background: rgba(0, 0, 0, .7);
}

#video_container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#video_flex_container {
    display: flex;
}


#guest_name{
font-size: 20px;
color: white;
}

#messages_container {
    width: 300px;
    text-align: center;
    overflow: auto;
}

#message_list_div {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: auto;
    border: 1px solid #6a5acd ;
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
}

#message_input_container {
    width: 100%;
    position: relative;
}

#messages {
    font-size: 20px;
    color: green;
}

#my_message {
    width: 100%;
    border: 1px solid #6a5acd ;
    background: rgba(0, 0, 0, .7);
    color: darkgray;
    font-size: 26px;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    padding-right: 50px;
    height: 50px;
    border-radius: 4000px;
    position: relative;
}

::-webkit-input-placeholder {
   color: lightgray;
   opacity: .1;

}

#send_button {
    width: 40px;
    height: 40px;
    margin:25px auto;
    border-radius: 100%;
    position: absolute;
    right: 6px;
    top: 0;
}

li {
    width: 100%;
    color: black;
    max-height: 50px;
    display: block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

ul {
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    list-style: none;
    overflow: auto;
    max-height: 10000px;
    margin: 0;
}

::-webkit-scrollbar {
    display:none;
}

.span_left {
    padding: 10px;
    background: darkgray;
    color: white;
    border-radius: 4000px;
    font-size: 14px;
    word-wrap: break-word;
    margin:0;
    min-width: 50px;
    max-width: 200px;
    display:inline-block;
    text-align: center;

}

.span_right {
    padding: 10px;
    background: #6a5acd;
    color: white;
    border-radius: 4000px;
    font-size: 14px;
    word-wrap: break-word;
    margin:0;
    min-width: 50px;
    max-width: 200px;
    display: inline-block;
    text-align: center;

}

.buffer {
    color: darkgray;
    opacity: 0;
    padding: 10px;
}

.fa-clipboard{
color: white;
margin-left: 10px;
}

.fa-comment-o{
color: white;
}
#board_chat_container{
display: flex;
width: 90%;
margin: 0 auto;
margin-top: 200px;
align-content: center;
justify-content: space-around;
}

#game_container p{
width: 50%;
margin: 0 auto;
text-align: center;
color: white;
font-size: 18px;
}

#gameBoard{
width: 500px;
height: 500px;
}


/* white square */
.white-1e1d7 {
  background-color: #F2F4F1;
  color: #5a3336;
}
/* black square */
.black-3c85d {
  background-color: #6a5acd;
  color: #f2f4f1;
}